/* Dominujący kolor: jasnofioletowy (#d6b3ff) */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9ff;
    color: #333;
}

header {
    background-color: #663399;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    font-size: 28px;
    cursor: pointer;
}

main {
    padding: 20px;
}

.task {
    background-color: #fff;
    border-left: 6px solid #663399;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.task h2 {
    margin-top: 0;
}

.description {
    /* color: ; */
    margin: 5px 0 10px 0;
}

.tjwnuk,
.tjwnuk:visited,
.tjwnuk:hover,
.tjwnuk:active {
    color: #CBB3E5;
}


/* 
kolory

RebeccaPurple #663399 (ciemny fiolet)
DarkSlateBlue #483D8B (granatowy)

*/


/* === DODANE STYLY DLA STRONY POWITALNEJ === */

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
    background-color: #f9f9ff;
}

.welcome-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #663399;
}

.welcome-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #555;
}

.login-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #663399;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #483D8B;
}
